.task {
    $base: '.task';

    position: relative;
    padding: vw(60 50 80 20, $desktop);
    border: 1px solid #ffffff;
    overflow: hidden;

    @include mq($tablet) {
        padding: vw(60 50 80 20, $tablet);
    }

    @include mq($mobile) {
        padding: vw(60 50 80 20, $mobile);
    }

    &_loading {
        cursor: wait;
    }

    &__id {
        position: absolute;
        font-size: vw(16, $desktop);
        line-height: 1;
        left: vw(10, $desktop);
        top: vw(10, $desktop);

        @include mq($tablet) {
            font-size: vw(16, $tablet);
            left: vw(10, $tablet);
            top: vw(10, $tablet);
        }

        @include mq($mobile) {
            font-size: vw(16, $mobile);
            left: vw(10, $mobile);
            top: vw(10, $mobile);
        }
    }

    &__title {
        #{$base}_checked & {
            text-decoration: line-through;
        }
    }

    &__actions {
        position: absolute;
        display: flex;
        flex-direction: column;
        right: vw(10, $desktop);
        top: vw(10, $desktop);

        @include mq($tablet) {
            right: vw(10, $tablet);
            top: vw(10, $tablet);
        }

        @include mq($mobile) {
            right: vw(10, $mobile);
            top: vw(10, $mobile);
        }
    }

    &__action-icon {
        @include box(vw(30, $desktop));
        transition: .1s ease;

        #{$base}_can-edit & {
            cursor: pointer;
        }

        @include mq($tablet) {
            @include box(vw(30, $tablet));
        }

        @include mq($mobile) {
            @include box(vw(30, $mobile));
        }

        &:not(:first-of-type) {
            margin-top: vw(20, $desktop);

            @include mq($tablet) {
                margin-top: vw(20, $tablet);
            }

            @include mq($mobile) {
                margin-top: vw(20, $mobile);
            }
        }

        &_type_checked {
            #{$base}_checked & path {
                fill: $success-color;
            }
        }

        @include hover {
            fill: $accent-color;
            transform: scale(1.1);

            path {
                fill: $accent-color;
            }
        }

        path {
            transition: .1s ease;
            fill: #ffffff;
        }
    }

    &__loader-overlay {
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        filter: blur(1px);
        cursor: progress;
    }

    &__loader {
        @include box(vw(40, $desktop));

        @include mq($tablet) {
            @include box(vw(40, $tablet));
        }

        @include mq($mobile) {
            @include box(vw(40, $mobile));
        }
    }
}
